- content_for :head do
  :javascript   
    $(document).ready(function(){
      $(".content").hide();
      $(".word").click(function(){
        $(this).siblings(".content").slideToggle("fast");
      });
    });   

%small today 15 | total 1645
  
=link_to "추가 +", "#", :id => "add"

.cards
  = render partial: "card", collection: @cards    
  


