// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$grace_gray: #F5F5F0

*           
  margin: 0
  padding: 0
  
a
  text-decoration: none

a.button
  display: block
  text-align: center
  
   
.header  
  background-color: $grace_gray
  .top
    .title
      float: left
    overflow: hidden
    a
      padding: 5px
      border: 1px solid
      width: 50px
      float: right
      margin: 5px 10px
  
    

nav.menu
  background-color: $grace_gray
  overflow: hidden
  padding: 5px 10px  
  margin: 0 0 25px 0
  ul.tabs
    list-style-type: none
    li.tab
      float: left
      a
        display: block
        color: black
        background-color: $grace_gray
        padding: 0.8em 1em
        margin: 5px 0
        width: 120px
        text-align: center
        font:
          size: 13px
          weight: bold
        border: 1px solid black
  a.add             
    display: block
    float: right
    background-color: yellow
    padding: 10px      
    
.card
  border: 1px solid black
  margin: 5px 10px
  
  .word
    background-color: white
    padding: 15px 20px
    font:
      size: 24px
      family: arial, sans-serif
      weight: bold 
  .content
    padding: 10px 30px
    .mean
      font:
        size: 16px
        family: arial, sans-serif
        
    .controll
      text-align: right
      margin: 10px 0  
  
    