// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@mixin rounded($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

@mixin button {
	display: block;
	text-align: center;
}

#add {
	@include rounded(15px);
	@include button;
	margin: 5px auto;
	padding: 15px;
	width: 80%;
	background-color: #eeeeee;
}

.card { 
  @include rounded(10px);
	margin: 5px auto;
	border: 1px solid #eee;
	padding: 15px 20px;
	width: 85%;

	.word {
		font-size: 24px;
    font-family: arial, sans-serif;
    font-weight: bold;  
	}
	.mean {
		margin: 20px 0px;
		min-height: 100px;
		font-size: 16px;
		font-family: arial, sans-serif;
	}     
	.controll {
		height: 65px;
		
		.level_up {
			@include button;
			padding: 8px 0;
			width: 150px;
			background-color: #00cc33;
		}
		.edit {
			@include button;
			padding: 8px 0;
			width: 50px;
			background-color: #eeeeee;
		}
	}
} 

form {      
	@include rounded(12px);
	margin: 0 auto;
	padding: 30px 15px;
	width: 320px;
	background-color: #f5f4ec;
	
	input, textarea {
			margin: 5px auto;
			padding: 5px 10px;
			border: 1px solid #dddddd;
			width: 300px;
	}
	input {
		font-size: 18px;
	}
	textarea {
		font-size: 16px;
	}
	
	.actions {
		height: 44px;	
		
		input[type='submit'] {
			@include rounded(10px);
			float: right;
			width: 100px;
			background-color: #00cc33;
		}
	}
	
	
}
